.MovieCard {
    display: flex;
    border: 1px solid #fff;
    box-shadow: #999999;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

.cardImage {
    width: 175px;
    height: 250px;
}

.MovieCard .cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.MovieCard .info {
    width: 350px;
    font-size: 0.7rem;
    padding: 10px;
    
}

.MovieCard h2 {
    font-size: 1.2rem;
    color: rgb(47, 55, 201)
}

.MovieCard .textMuted {
    font-size: 0.7rem;
    color: #444;
    font-weight: bolder;
}

.MovieCard .msGreen,
.MovieCard .msYellow,
.MovieCard .msRed {
    padding: 2px;
    border-radius: 3px;
    color: #fff;
}

.MovieCard .msGreen {
    background-color: green;
}

.MovieCard .msYellow {
    background-color: rgb(189, 189, 3);
}
.MovieCard .msRed {
    background-color: red;
}

.MovieCard .actors {
    font-size: 0.7rem;
    color: rgb(90, 96, 216);
}

.icon {
    color:rgb(189, 189, 3);
    font-size: 1rem;
}